@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
   background-image   : url(../../assets/coaster3.png);
   background-size    : cover;                  
   background-repeat  : no-repeat;
   background-position: center ; 
   background-size:100%;
   margin: 0;

   height         : 100vh;
   width          : 100vw;
   display        : flex;
   justify-content: center;
   align-items    : center;
   overflow       : hidden;
  }
  
  .landing-card {
    display: flex;
    background: #BA3A5D;
    background: -moz-linear-gradient(left, #BA3A5D 0%, #872843 80%, #6D1D2A 100%);
    background: -webkit-linear-gradient(left, #BA3A5D 0%, #872843 80%, #6D1D2A 100%);
    background: linear-gradient(to right, #BA3A5D 0%, #872843 80%, #6D1D2A 100%);
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 85%;
    height: 80%;
  }
  
  
  .content {
    flex: 3 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
  }
 
  .landing-text {
    color: #ffffff;
    animation-duration: 2s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  
  
  .landing-btn {
    background: linear-gradient(#f3ab4d, #ff9306);
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    margin-top: 1rem;
    animation-duration: 2s;
  }
  
  .landing-btn:hover {
    background: linear-gradient(to right, #ce7603, #af6402);
    color: rgb(54, 54, 54);
  }
  

.logo{
  width: 270px;
  height: 300px;
}