@import url('https://fonts.googleapis.com/css?family=Montserrat');

$purpleLight: #bc305b;
$purpleDark: #7b0228;
$purpleMedium: #872843;
$white: #ffffff;
$orangeLight:#ce7603 ;
$orangeDark: #af6402;

body {
   background-image   : url(../../assets/coaster3.png);
   background-size    : cover;                  
   background-repeat  : no-repeat;
   background-position: center ; 
   background-size:100%;
   margin: 0;

   height         : 100vh;
   width          : 100vw;
   display        : flex;
   justify-content: center;
   align-items    : center;
   overflow       : hidden;
  }
  
  .landing-card {
    display: flex;
    background: $purpleLight;
    background: -moz-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: -webkit-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: linear-gradient(to right, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 85%;
    height: 80%;
  }
  
  
  .content {
    flex: 3 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
  }
 
  .landing-text {
    color: $white;
    animation-duration: 2s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  
  
  .landing-btn {
    background: linear-gradient(#f3ab4d, #ff9306);
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: $white;
    font-size: 1.1rem;
    margin-top: 1rem;
    animation-duration: 2s;
  }
  
  .landing-btn:hover {
    background: linear-gradient(to right, $orangeLight, $orangeDark);
    color: rgb(54, 54, 54);
  }
  

.logo{
  width: 270px;
  height: 300px;
}