
.topnav {
    overflow: hidden;
    align-content: center;
  }
  
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background: linear-gradient(#f3ab4d, #ff9306);
    color: rgb(54, 54, 54);
  }
  
  .active {

    color: white;
  }
  i{
      font-size: 30px;
  }

  .btn, btn-success, btn-md{
    background-color: #f3ab4d;
    border: #f3ab4d
  }
  .btn:hover{
    background-color: #ff9306;
    color: rgb(43, 43, 43);
  }
  .container{
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    background: no-repeat;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
  }
  