
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
</head>

<div class="header">
<h2>{{'APP.WeatherTitle' | translate}} <i class="fas fa-sun"></i></h2>
<app-swap-language></app-swap-language>
</div>

<div class="underheader"><h3>Search for weather at your theme park</h3></div>
<br><br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h3 class="text-center my-4">{{'APP.WeatherSearch' | translate}}<i class="fas fa-sun"></i>:</h3>
    <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToWeatherService(weatherSearchForm.value)">
      <div class="form-group">
       <input
      class="form-control"
      type="text"
      id="weatherLocation"
      aria-describedby="weatherLocation"
      placeholder="{{'APP.WeatherInput' | translate}}"
      formControlName="location" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-md">{{'APP.WeatherSearch' | translate}} <i class="fas fa-search"></i></button>
    </div>
     </form> 
  </div>

  <div class="col-md-6"><h3 class="text-center">{{'APP.WeatherDetails' | translate}}<br><i>{{this.weatherData?.location.name}}
      {{this.weatherData?.location.country}}</i></h3>
   
    <p class="text-center">
      {{'APP.WeatherCondition' | translate}} <b>{{this.weatherData?.current.condition.text}}</b>
    </p>
    <p class="text-center">
      {{'APP.WeatherTemp' | translate}} <b>{{this.weatherData?.current.temp_c}}ºC</b>
    </p>
    <p class="text-center">
      {{'APP.WeatherFar' | translate}} <b>{{this.weatherData?.current.temp_f}}ºF</b>
    </p>
  </div>
</div>
</div>

<div class="footer">
  <div class="topnav">
      <a [routerLink]="['/home']" class="active"><i class="fas fa-home"></i></a>
      <a [routerLink]="['/news']" class="active"><i class="far fa-newspaper"></i></a>
      <a [routerLink]="['/weather']" class="active"><i class="fas fa-sun"></i></a>
      <a [routerLink]="['/location']" class="active"><i class="fas fa-map-marked-alt"></i></a>
    </div>
    
</div>