<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
</head>

<div class="header">
<h2>{{'APP.LocationTitle' | translate}} <i class="fas fa-map-marked-alt"></i> </h2>
<app-swap-language></app-swap-language>
</div>
<div class="underheader">
  <h3>Search for you and your theme park's location</h3>
</div>
<br>
<div class="container">
<div class="location">
  <p><a href='https://www.openstreetmap.org/#map=17/{{lat}}/{{lng}}'>{{'APP.LocationLink' | translate}} </a><i class="fas fa-street-view"></i></p>
</div>
</div>
<br><br>

<div class="container">
  <div class="location">
    <p><a [routerLink]="['/parks']">{{'APP.LocationLink' | translate}} </a><i class="fas fa-dharmachakra"></i></p>
  </div>
  </div>
  <div class="space"></div>
<div class="footer">
  <div class="topnav">
      <a [routerLink]="['/']" class="active"><i class="fas fa-home"></i></a>
      <a [routerLink]="['/news']" class="active"><i class="far fa-newspaper"></i></a>
      <a [routerLink]="['/weather']" class="active"><i class="fas fa-sun"></i></a>
      <a [routerLink]="['/location']" class="active"><i class="fas fa-map-marked-alt"></i></a>
    </div>
    
</div>