<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
</head>

<div class="top">
    <div class="left"><a [routerLink]="['/']" class="active"><i class="fas fa-home"></i> {{'APP.LocationNavHome' | translate}}</a></div>
    <div class="right"><a href='https://www.openstreetmap.org/#map=17/{{lat}}/{{lng}}' class="active"><i class="fas fa-street-view"></i> {{'APP.LocationNavLocation' | translate}}</a></div>

  <h2>{{'APP.LocationParks' | translate}} <i class="fas fa-map-marked-alt"></i></h2>
  <app-swap-language></app-swap-language>
  <div class="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"></div>
</div>
