$purpleLight: #bc305b;
$purpleDark: #7b0228;
$white: #ffffff;

.top{
    padding-top:20px;
    padding-bottom:10px;
      width: 100%;
      color: $white;
      background: $purpleLight;
      background: -moz-linear-gradient(left, $purpleLight 0%, $purpleDark 80%, $purpleDark 100%);
      background: -webkit-linear-gradient(left, $purpleLight 0%, $purpleDark 80%, $purpleDark 100%);
      background: linear-gradient(to right, $purpleLight 0%, $purpleDark 80%, $purpleDark 100%);
      font-family: 'Montserrat', sans-serif;
      color: $white;
      text-align: center;
}
.left{
    float:left;padding-top: 25px;
    padding-left: 10px;
}
.right{
    float:right;padding-top: 25px;
    padding-right: 10px;
}
.map
{
    padding-top: 100%;
}