/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

$purpleLight: #bc305b;
$purpleDark: #7b0228;
$purpleMedium: #872843;
$white: #ffffff;
$orangeLight:#f3ab4d ;
$orangeDark: #ff9306;

* {

  margin:0;
  
  padding:0;
  
  }
  router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
.header {
  padding-top:20px;
  padding-bottom:20px;
    position: fixed;
    width: 100%;
    color: #f1f1f1;
    background: $purpleLight;
    background: -moz-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: -webkit-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: linear-gradient(to right, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    font-family: 'Montserrat', sans-serif;
    color: $white;
    text-align: center;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
  }
  .col-md-6{
      text-align: center;
      padding-top: 10px;
      font-family: 'Montserrat', sans-serif;
      color: rgb(58, 58, 58);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $purpleLight;
    background: -moz-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: -webkit-linear-gradient(left, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    background: linear-gradient(to right, $purpleLight 0%, $purpleMedium 80%, $purpleDark 100%);
    color: $white;
    text-align: center;
    align-content: center;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
 }
 .topnav {
  overflow: hidden;
  align-content: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: linear-gradient($orangeLight, $orangeDark);
  color: rgb(54, 54, 54);
}

.active {

  color: $white;
}
i{
    font-size: 30px;
}

.btn, btn-success, btn-md{
  background-color: $purpleLight;
  border: $purpleLight;
}
.underheader{
  padding-top:140px;
   padding-bottom:20px;
   background-color:rgb(231, 229, 229);
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   color: $purpleLight;
   box-shadow: 1px 1px 8px rgba(0,0,0,.6);
}
.map {
  height: 100%;
  padding: 0;
}