/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
* {

  margin:0;
  
  padding:0;
  
  }
  router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
.header {
  padding-top:20px;
  padding-bottom:20px;
    position: fixed;
    width: 100%;
    color: #f1f1f1;
    background: #bc305b;
    background: -moz-linear-gradient(left, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    background: -webkit-linear-gradient(left, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    background: linear-gradient(to right, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
  }
  .col-md-6{
      text-align: center;
      padding-top: 10px;
      font-family: 'Montserrat', sans-serif;
      color: rgb(58, 58, 58);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #bc305b;
    background: -moz-linear-gradient(left, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    background: -webkit-linear-gradient(left, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    background: linear-gradient(to right, #bc305b 0%, #7b0228 80%, #7b0228 100%);
    color: white;
    text-align: center;
    align-content: center;
    box-shadow: 1px 1px 8px rgba(0,0,0,.6);
 }
 .topnav {
  overflow: hidden;
  align-content: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: linear-gradient(#f3ab4d, #ff9306);
  color: rgb(54, 54, 54);
}

.active {

  color: white;
}
i{
    font-size: 30px;
}

.btn, btn-success, btn-md{
  background-color: #bc305b;
  border: #bc305b;
}
.underheader{
  padding-top:140px;
   padding-bottom:20px;
   background-color:lightgray;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   color: #da7e06;
}
.map {
  height: 100%;
  padding: 0;
}